<!-- Contact Us -->
<!--Index.html -->
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Additions for Modals  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
    <div class = "container" ng-app = "myApp" ng-controller="NavCtrl">
        <button class = "btn btn-default" ng-click="navToIndex()">Index</button>
        <button class = "btn btn-default" ng-click="navToTeamMgmt()">Team Management</button>
        <button class = "btn btn-default" ng-click ="navToPlayerMgmt()">Player Management</button>
        <button class = "btn btn-default" ng-click ="navToContactUs()">Contact Us</button> 
        <button ng-click="checkNavCtrlr()">test</button>      
    </div>

    <div class="container">
        <h1>Contact Us</h1>
    </div>

    <div class = "container" ng-app = "myApp" ng-controller="AppCtrl">
		<form name="contactForm" ng-submit="sendMail()">
			Name: <input type="text" ng-model="contactName">
			Email: <input type="email" ng-model="contactEmail">
			Message: <textarea ng-model="contactMsg" columns="1" ></textarea>
			<button type="submit">Send</button>
		</form>
		
		        
	</div>

    <!--
    <div class = "container">
    	<table class="table" id="contactUsTable">
    		<thead> 
    		</thead>
    		<tr>
    			<td> Name: <input class="form control" mg-model="contact.name" placeholder="Name"> </td>
    		</tr>
    		<tr>
    			<td> Email: <input class="form control" mg-model="contact.email" placeholder="Email"> </td>
    		</tr>
    		<tr>
    			<td> Message: <input class="form control" mg-model="contact.message" placeholder="Message" width="100" style="height:200px;"></td>
    		</tr>
    		<tr>
    			<td><button>Submit</button></td>
    		</tr>

    	</table>
    </div>
	-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
    <script src="controllers/navigation_controller.js"></script>
    <script src="controllers/player_controller.js"></script>
    <script src="controllers/team_controller.js"></script>


</body>
</html>


